<component name="ArtifactManager">
  <artifact type="war" name="springcloud-feign:war">
    <output-path>$PROJECT_DIR$/springcloud-feign/target</output-path>
    <root id="archive" name="springcloud-feign.war">
      <element id="artifact" artifact-name="springcloud-feign:war exploded" />
    </root>
  </artifact>
</component>