<component name="ArtifactManager">
  <artifact type="war" name="springcloud-bus:war">
    <output-path>$PROJECT_DIR$/springcloud-bus/target</output-path>
    <root id="archive" name="springcloud-bus.war">
      <element id="artifact" artifact-name="springcloud-bus:war exploded" />
    </root>
  </artifact>
</component>