<component name="ArtifactManager">
  <artifact type="exploded-war" name="springcloud-ribbon:war exploded">
    <output-path>$PROJECT_DIR$/springcloud-ribbon/target/springcloud-ribbon</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springcloud-ribbon" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springcloud-ribbon/target/springcloud-ribbon/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springcloud-ribbon/web/Web" />
    </root>
  </artifact>
</component>